<div class="header">

        <div class="frame card_offset">
                <div class="card">
                 <div class="details">
                     <div class="user_photo horizontal_center">
                        <a (click)="getNewUser();" class="refresh">New</a>
                        <img src={{profile?.picture.large}} id="user_photo" style="border-radius: 50% !important; width: 150px !important">
                     </div>
                     <p id="user_title">'data-title'</p>
                     <p id="user_value" style="text-transform: capitalize;">'data-value'</p>
                 </div>
                 <ul class="values_list horizontal_center" id="values_list">
                     <li data-title="Hi, My name is" data-value="name"  data-label="name" class="        "></li>
                     <li data-title="My email address is" data-value="email" data-label="email" data-caps="false" class="        "></li>
                     <li data-title="My birthday is" data-value="birthday" data-label="birthday" class=" "></li>
                     <li data-title="My address is" data-value="location" data-label="location" class=" "></li>
                     <li data-title="My phone number is" data-value="phone" data-label="phone" class=" active"></li>
                     <li data-title="My password is" data-value="pass" data-label="pass" data-caps="false" class=""></li>
                
                </ul>
            
                </div>
              </div>

</div>
  
